{{>header}}

{{>jumper}}

<table border="3" style="width:100%;table-layout:fixed;">
    <tr>
        <th class="header" style="width:10%" scope="col">
            Lp.
        </th>
        <th class="header" style="width:25%" scope="col">
            NAZWA UŻYTKOWNIKA
        </th>
        <th class="header" scope="col">
            ADRES
        </th>
        <th class="header" scope="col">
            FIRMA/OSOBA
        </th>
        <th class="header" scope="col">
            NUMER NIP
        </th>
        <th class="header" style="width:18%" scope="col">
            AKCJE
        </th>
    </tr>
</table>

{{#each customers}}
<table border="1" style="width:100%;table-layout:fixed;">
    <tr>
        <td class="row" rowspan="6" style="width:10%">
            {{inc @index}}
        </td>
        <td class="row" style="width:25%">
            {{name}}
        </td>
        <td class="row">
            {{address}}
        </td>
        <td class="row">
            {{company}}
        </td>
        <td class="row">
            {{nipnumber}}
        </td>
        <td class="row" style="width:18%">
            <form method="POST" action="/{{_id}}">
                <button>
                    USUŃ
                </button>
            </form>
            <form method="GET" action="/customer_site/{{_id}}">
                <button>
                    STRONA KLIENTA
                </button>
            </form>
        </td>
    </tr>
</table>
{{/each}}

{{>footer_klienta}}